{% extends "skins/educational_site_green/base.html" %}
{% load i18n %}
{% block header %}
    <!-- HEADER -->
    <!-- image of the kids by horizontal.integration: http://flickr.com/photos/ebolasmallpox/1066368855/in/set-72157601353861692/ -->
    <div id="home_header_wrapper">
        <div class="head_l"></div>
        <div class="intro">
            <h1>Educate primero... y tus sueños se harán realidad</h1>
            <p>Portal educativo cibernético</p>
        </div> <!-- / intro -->
        <div class="head_r">&nbsp;</div>
        <div id="orbit-wrapper">
            <div id="featured"> 
                 <img src="{{ STATIC_URL }}skins/{{ current_skin }}/images/kids_green.jpg"  />
                 <img src="{{ STATIC_URL }}skins/{{ current_skin }}/images/back2school.jpg" />
                 <img src="{{ STATIC_URL }}skins/{{ current_skin }}/images/book_ladder.jpg" data-caption="#book_ladder_caption" />
                 <img src="{{ STATIC_URL }}skins/{{ current_skin }}/images/teacher_student.jpg" />
                 <img src="{{ STATIC_URL }}skins/{{ current_skin }}/images/jump.jpg" />
            </div>
            <span class="orbit-caption" id="book_ladder_caption">Conocimiento, la esclara a tu futuro.</span>
        </div>
    </div>
{% endblock %}

{% block content %}    
    <!-- CONTENT -->
        <h1>Sobre este portal</h1>
        <img class="alignleft" src="{{ STATIC_URL }}skins/{{ current_skin }}/images/hands.jpg" alt="" />				
        <p>
            1ro Educate es un innovador portal de recursos educativos, tanto para el maestro como para el estudiante.  Contiene todo lo que su institución educativa puede necesitar... todo, en un solo lugar, seguro y completo.  El estudiante se conecta utilizando el username y password que se le ha asignado y tiene acceso a miles de ejercicios de práctica, repasos, material de lectura, exámenes prácticos y todo tipo de recursos para preparar sus proyectos y trabajos de investigación.  En adición, el material de Genio Escolar ha sido preparado por educadores puertorriqueños y el mismo es actualizado y enriquecido contínuamente.
        </p>
{% endblock %}

{% block sidebar %}    
    <!-- SIDEBAR -->
        <h2>Noticias y anuncios</h2>
        <ul id="news">
            <li>
                <!-- images must be 54x54px -->
                <a href="#"><img src="{{ STATIC_URL }}skins/{{ current_skin }}/images/temp/news1.jpg" alt="" width="54" /> </a>
                <h3>Nuevo rediseño de nuestra página</h3>
                <p>Completamente nuevo sistema de navegación y apariecia visual.</p>
            </li>
        </ul>
{% endblock %}
