{% extends "skins/genioescolar/base.html" %}

{% block contents %}
    <div class="TopPart">
        <h2>Metas de genio escolar</h2>
            <p class="Larger">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et leo eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean cursus facilisis accumsan. Proin sit amet risus ac justo facilisis sodales. Maecenas quam risus, vulputate in pharetra nec, fermentum et nulla. Vivamus a erat urna, vitae porttitor diam. Aliquam a blandit nunc.</p>
                <p>Morbi quis urna et nunc elementum vestibulum et eget metus. Pellentesque vitae nunc consequat leo suscipit fermentum. In leo diam, volutpat nec scelerisque non, lobortis quis quam. Quisque eu orci nec massa sollicitudin pharetra. Suspendisse dignissim ullamcorper nibh, et suscipit tortor pharetra ac. Proin sodales tempus ullamcorper. Phasellus luctus, nisi eget scelerisque ultricies, eros dui volutpat odio, nec blandit ipsum libero quis risus. Pellentesque consequat, neque vitae adipiscing hendrerit, sem neque hendrerit mauris, ut laoreet urna neque vitae massa. </p>
    </div>

    <div class="Part">
        <h2>Noticias</h2>
        <img src="{{ STATIC_URL }}skins/genioescolar/img/image.jpg" alt="picture" />
        <p>Sed vulputate gravida tempus. Nunc tempor nibh ac velit sagittis hendrerit. Donec hendrerit ligula quis ligula imperdiet vitae euismod nulla ultrices. Phasellus vitae eros urna, ut mattis libero. Mauris libero dolor, fermentum sed ornare in, convallis non lorem. Mauris pellentesque orci eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus egestas libero mauris. Quisque at libero nec dolor ullamcorper vulputate. Maecenas adipiscing feugiat odio vel pharetra. Aenean eget eleifend dolor. Morbi et ipsum leo. Etiam ultrices nisi nec metus fringilla dictum. In hac habitasse platea dictumst. Curabitur et augue sed nisl placerat fringilla. <a href="">more info</a></p>
        <ul>
            <li><a href="">une link.</a></li>
            <li><a href="">A two link </a></li>
        </ul>
    </div>
{% endblock %}
