{% extends "base.html" %}
{% load i18n %}
{% block contents %}

			<!-- HEADER -->
			<!-- image of the kids by horizontal.integration: http://flickr.com/photos/ebolasmallpox/1066368855/in/set-72157601353861692/ -->
			<div id="header">
                <div class="head_l"></div>
				<div class="intro">
					<h1>Educate primero... y tus sueños se harán realidad</h1>
					<p>Portal educativo de Barquin International</p>
				</div> <!-- / intro -->
                <div class="foot_r">&nbsp;</div>

                <div style="float: right;">
                    <div id="featured"> 
                         <img src="{{ STATIC_URL }}images/kids_green.jpg" alt="Overflow: Hidden No More" />
                         <img src="{{ STATIC_URL }}images/back2school.jpg"  alt="HTML Captions" data-caption="#htmlCaption"/>
                         <img src="{{ STATIC_URL }}images/book_ladder.jpg" alt="and more features" />
                    </div>
                    <span class="orbit-caption" id="htmlCaption">I'm A Badass Caption</span>
                </div>



			</div> <!-- /header -->


			<!-- CONTENT -->
			<div id="content">
				<h1>Sobre este portal</h1>
				<img class="alignleft" src="{{ STATIC_URL }}images/hands.jpg" alt="" />				
				<p>
                    1ROEDUCATE.COM Busca fomentar el aprendizaje a traves del facil acceso a la información.
				</p>
			</div>

			<!-- SIDEBAR -->
			<div id="sidebar">
				<h2>Noticias y anuncios</h2>
					<ul id="news">
                    	<li>
							<!-- images must be 54x54px -->
							<a href="#" title="Some title"><!-- img by foreversouls --><img src="{{ STATIC_URL }}images/temp/news1.jpg" alt="" width="54" /> </a>
                        	<h3>Nuevo rediseño de nuestra página</h3>
							<p>Completamente nuevo sistema de navegación y apariecia visual para facilitar la navegación.</p>
						</li>
					</ul>

					<!-- Ads -->
					<!--<h2>Advertising</h2>-->
   
			</div> <!-- / Sidebar -->

{% endblock %}
