.debug {
	border: 1px solid red;
}

/* .ui-widget-loading { background: #f5f3e5 url(../images/globe64.gif) 50% no-repeat; top }*/

#barquin_globe {
    vertical-align: middle; margin-right: 5px;
}

#barquin_address {
    color: white; font-size: 10px; margin-left: 50px;
}


#featured {
    top: 10px;
    /*
	width: 500px;
	height: 130px;    
    float: right;
    */
}

div.slider-nav {
    display: none;
}


div.timer {
    display: none;
}
